{% extends "base/basic_layout.html" %}
{% block page_title %}Dashboard{% endblock page_title %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block main_content %}
<div class="container">
<h1><center>Dashboard</center></h1> <br> <br>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Number Of Users</th>
            <th>Number Of Hospitals</th>
            <th>Number Of Vendors</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{user_count}}</td>
            <td>{{hospital_count}}</td>
            <td>{{vendor_count}}</td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <center><i><h2><FONT COLOR="FFF">Are You A User? &nbsp;&nbsp;&nbsp;<a href="/user_hospital_login" class="btn btn-success">Login Here</a></h2> </i></center><br>
    <center><i><h2>Are You A Hospital?&nbsp;&nbsp;&nbsp;<a href="/user_hospital_login/" class="btn btn-success">Login Here</a></h2> </i></center><br>
    <center><i><h2>Are You A Vendor?&nbsp;&nbsp;&nbsp;<a href="/vendor_login" class="btn btn-success">Login Here</a></h2></center> </i>
</FONT>
</div>
{% endblock main_content %}